$background: #f7f1f1;
$title: #d27e7b;
$checkbox-border: 1px solid mediumseagreen;
$text: #888888;
$panel: #ffffff;
$item-hover: #f3f4f2;
$font: 'Roboto', sans-serif;

$img-close: url(../icons/close.svg) no-repeat center center;
$img-competed: white url(../icons/completed.svg) no-repeat center center;
$img-select-all: white url(../icons/select-all.svg) no-repeat center center;

