$body_background: #f5f5f5;
$header_title: #edd2ca;
$checkbox_border__checked: #3bb36d;
$checkbox_border__unchecked: #E6E6E6;
$checkbox_background: #ffffff;
$delete_background: #ffffff;
$radio_border: #CCCCCC;
$text_color: #888888;
$panel_background: #ffffff;
$item_hover: #f3f4f2;
$box_shadow: #c7c7c7;
$font_main: 'Roboto', sans-serif;


$ic_close: url(../icons/close.svg) no-repeat center center;
$ic_competed: white url(../icons/completed.svg) no-repeat center center;
$ic_select_all: white url(../icons/select-all.svg) no-repeat center center;

