@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap');
@import "properties";

body {
  background: $body_background;
  font-family: $font_main;
}

.todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos-container::before {
  height: 5px;
  width: 59%;
  content: "";
  order: 3;
  background: white;
  z-index: 1;
  box-shadow: 0 1px 5px 1px #c7c7c7;
}
.todos-container::after {
  height: 5px;
  width: 58%;
  content: "";
  order: 4;
  background: white;
  z-index: 0;
  box-shadow: 0 1px 5px 1px #c7c7c7;
}

.todos-header {
  text-align: center;
  order: 1;
}
.title {
  margin: 10px;
  font-size: 70px;
  color: $header_title;
}

.todos-main {
  order: 2;
  position: relative;
  background-color: $panel_background;
  box-shadow: 0 1px 5px 1px #c7c7c7;
  margin: 0 auto;
  width: 60%;
  z-index: 3;
}

.control-panel {
  display: flex;
  height: 50px;
  flex-direction: row;
  padding-bottom: 2px;
  align-items: center;
  box-shadow: inset 0 -1px 0 #E6E6E6;
}

.control-panel__button {
  border: none;
  width: 65px;
  height: 100%;
  margin-right: 1px;
  background: $ic_select_all;
  background-size: 24px 12px;
}

.control-panel__input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: none;
  padding-left: 2px;
  box-sizing: border-box;
}

.control-panel__input::placeholder {
  font-style: italic;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.tasks {
  flex-grow: 1;
  overflow: auto;
  color: $text_color;
}
.tasks__inner {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.task__item {
}

.item-view {
  display: flex;
  align-content: space-between;
  box-shadow: inset 0 -1px 0 #E6E6E6;
  min-height: 64px;
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
}

.item-view:hover {
  background-color: $item_hover;
}

.item-view__checkbox {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.checkbox-status {
  opacity: 0;
}

.checkbox {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 20px;
  background: #FFFFFF;
  border: 1px solid $checkbox_border__unchecked;
  box-sizing: border-box;
}

.checkbox-status:focus ~ .checkbox {
  border-width: 2px;
}

.checkbox-status:checked ~ .checkbox {
  border: 1px solid $checkbox_border__checked;
  background: $ic_competed;
  background-size: 20px 20px;
}

.item-view__text {
  padding-left: 12px;
  padding-right: 12px;
  flex-grow: 1;
  word-break: break-all;
  font-size: 24px
}

.item-view__delete {
  width: 34px;
  height: 34px;
  border: none;
  background-color: white;
  flex-shrink: 0;
}

.item-view__delete:focus {
  background: $ic_close;
  background-size: 25px 25px;
  width: 34px;
  height: 34px;
  border: none;
}

.item-view:hover .item-view__delete {
  background: $ic_close;
  background-size: 25px 25px;
  width: 34px;
  height: 34px;
  border: none;
}

.item-edit {

}

.item-edit__input {

}

.action-bar {
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: $text_color;
  flex-wrap: wrap;
  align-items: center;
}

.action-bar__item {
  margin: 5px;
}

.action-counter {
}

.action-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.action-filter__inner {
}

.filter__input {
  opacity: 0;
}

.filter__text {
  border: 1px solid transparent;
  padding: 5px;
}

.filter__input:checked ~ .filter__text {
  border: 1px solid $radio_border;
  border-radius: 5px;

}

.action-clear {
  font-family: $font_main;
  padding: 5px;
  background-color: white;
  color: $text_color;
  border: 1px solid transparent;
}

.action-clear:focus {
  border: 1px solid #CCCCCC;
  outline: none;
  border-radius: 5px;
}