<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Some description about web site">
    <link rel="stylesheet" href="index.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>todos</title>
</head>
<body>
    <div class="todos-container">
        <header class="todos-header">
            <h1 class="title">todos</h1>
        </header>
        <main class="todos-main">
            <section class="todos-control-panel">
                <div class="control-select-all">
                    <button class="control-select-all-button"></button>
                </div>
                <div class="control-create-new">
                    <input class="control-create-new-input" type="text" autofocus="autofocus"
                           placeholder="What needs to be done?" aria-label="Add new item">
                </div>
            </section>
            <section class="todos-tasks">
                <ul class="todos-tasks-list">
                    <li class="todos-task-item">
                        <div class="task-item-view">
                            <label class="checkbox-wrapper">
                                <input class="task-item-status"
                                       type="checkbox"
                                       aria-label="Complete task: HTML">
                                <span class="checkbox"></span>
                            </label>
                            <span class="task-item-text">HTML</span>
                            <button class="task-item-delete"></button>
                        </div>
                        <div class="task-item-edit" hidden="hidden">
                            <input class="task-item-input"
                                   type="text"
                                   value="HTML"
                                   aria-label="Edit task: HTML">
                        </div>
                    </li>
                    <li class="todos-task-item">
                        <div class="task-item-view">
                            <label class="checkbox-wrapper">
                                <input class="task-item-status"
                                       type="checkbox"
                                       aria-label="Complete task: CSS">
                                <span class="checkbox"></span>
                            </label>
                            <span class="task-item-text">CSS</span>
                            <button class="task-item-delete"></button>
                        </div>
                        <div class="task-item-edit" hidden="hidden">
                            <input class="task-item-input"
                                   type="text"
                                   value="CSS"
                                   aria-label="Edit task: CSS">
                        </div>
                    </li>
                    <li class="todos-task-item">
                        <div class="task-item-view">
                            <label class="checkbox-wrapper">
                                <input class="task-item-status"
                                       type="checkbox"
                                       aria-label="Complete task: JS">
                                <span class="checkbox"></span>
                            </label>
                            <span class="task-item-text">JS</span>
                            <button class="task-item-delete"></button>
                        </div>
                        <div class="task-item-edit" hidden="hidden">
                            <input class="task-item-input"
                                   type="text"
                                   value="JS"
                                   aria-label="Edit task: JS">
                        </div>
                    </li>
                    <li class="todos-task-item">
                        <div class="task-item-view">
                            <label class="checkbox-wrapper">
                                <input class="task-item-status"
                                       type="checkbox"
                                       aria-label="Complete task: JSTools">
                                <span class="checkbox"></span>
                            </label>
                            <span class="task-item-text">JS Tools</span>
                            <button class="task-item-delete"></button>
                        </div>
                        <div class="task-item-edit" hidden="hidden">
                            <input class="task-item-input"
                                   type="text"
                                   value="JS Tools"
                                   aria-label="Edit task: JS Tools">
                        </div>
                    </li>
                </ul>
            </section>
            <section class="todos-action-bar">
                <div class="action-bar-item">
                    <div class="tasks-counter">3 items left</div>
                </div>
                <div class="action-bar-item">
                    <div class="action-filter" aria-label="Filter tasks" role="group">
                        <label class="action-filter-item">
                            <input class="action-filter-input" type="radio" name="filter" checked="checked" value="All">
                            <span class="action-filter-text" aria-label="Select all tasks">All</span>
                        </label>
                        <label class="action-filter-item">
                            <input class="action-filter-input" type="radio" name="filter" checked="checked" value="Active">
                            <span class="action-filter-text" aria-label="Select all active">Active</span>
                        </label>
                        <label class="action-filter-item">
                            <input class="action-filter-input" type="radio" name="filter" checked="checked" value="Completed">
                            <span class="action-filter-text" aria-label="Select all completed">Completed</span>
                        </label>
                    </div>
                </div>
                <div class="action-bar-item" aria-label="Clear all tasks">
                    <button class="action-clear-all">Clear all</button>
                </div>
            </section>
        </main>
    </div>
</body>
</html>